@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

@font-face {
  font-family: 'EquitanSans';
  src: url('EquitanSans-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GlacialIndifference';
  src: url('GlacialIndifference-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: 'GlacialIndifference', sans-serif;
}
